name: Publish Maven artifact to GitHub Packages

on:
  release:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:

  publish:

    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:

      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '13'
          distribution: 'adopt'

      - name: Publish package
        run: mvn --batch-mode deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
